@import '/styles/mixins';
@import '/styles/variables';
.GameMechanism {
  min-height: 80vh;

  .imageContainer {
    position: relative;
    padding-top: 1rem;
  }

  .sectionTitle,
  .sectionInfo,
  .cardInfo {
    position: relative;
    transition: $text-transition;
  }

  .container {
    position: relative;
    z-index: 10;
    @include flexCenter(column);

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
      margin: 2rem 0 4rem;
      padding: 0 1rem;
      max-width: 50ch;
      color: $text-secondary;
    }
  }

  .cardsDecorContainer {
    padding: 0.2rem;
    position: relative;
    width: 90%;
    // border: 1px solid $purple-primary;
  }

  .decorBorder {
    transition: $decor-border-transition;
    position: absolute;
    background-color: $purple-primary;
  }

  .decorBorderTop {
    width: 100%;
    height: 1px;
    top: -1px;
    left: 0;
  }

  .decorBorderRight {
    width: 1px;
    height: calc(100% + 2px);
    bottom: -1px;
    right: 0px;
  }

  .decorBorderBottom {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
  }

  .decorBorderLeft {
    width: 1px;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
  }

  .cards {
    @include flexCenter(column);
    width: 100%;
    position: relative;

    .card {
      width: 100%;
      height: 30rem;
      @include flexCenter(column);
      min-height: 50vh;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      p {
        width: 20ch;
        color: $text-primary;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: 800ms;
      }
    }

    .hiddenImage {
      width: 100vw;
      position: absolute;
      bottom: -3px;
      opacity: 0;
      transition: opacity 500ms, transform 10000ms;
      object-fit: cover;
    }

    .card:hover img {
      opacity: 1 !important;
    }
  }
}

@media (min-width: 1024px) {
  .GameMechanism {
    .container {
      p {
        padding: 0;
      }
    }
    .cardsDecorContainer {
      width: 80%;
    }
    .cards {
      @include flexCenter(row);

      .card {
        width: 25%;
        height: 100%;
        min-height: 60vh;
        cursor: pointer;

        &:hover {
          p {
            opacity: 1;
            top: 50%;
          }
          .hiddenImage {
            transform: scale(1.1) !important;
          }
        }
      }
    }
  }
}
