.Nfts {
  min-height: 70vh;

  h2 {
    text-align: center;
  }
  & > p {
    text-align: center;
    margin: 1rem auto 3rem;
    max-width: 70ch;
  }

  .sliderContainer {
    padding: 0 1rem;
  }
}

@media (min-width: 720px) {
  .Nfts {
    .sliderContainer {
      padding: 0;
    }
  }
}
