@import '/styles/mixins';
@import '/styles/variables';

.Nfts {
  min-height: 70vh;

  .title,
  .sectionInfo {
    transition: $text-transition;
  }

  .sectionInfo {
    transition-delay: $text-transition-delay;
  }

  h2 {
    text-align: center;
  }
  & > p {
    text-align: center;
    margin: 1rem auto 3rem;
    max-width: 70ch;
  }

  .sliderContainer {
    padding: 0 1rem;
    position: relative;
    width: 100%;
    margin-bottom: 10rem;

    .swiperButtonPrev,
    .swiperButtonNext {
      position: absolute;
      top: 115%;
      transform: translateY(-50%);
      z-index: 10;
      color: $text-secondary;
      border: none;
      background-color: transparent;
      font-size: 2.5rem;
      width: 5rem;
      @include flexCenter(row);
      cursor: pointer;
      color: $text-primary;
    }
    .swiperButtonPrev {
      left: 1rem;
    }
    .swiperButtonNext {
      right: 1rem;
    }
  }
}

@media (min-width: 720px) {
  .Nfts {
    .sliderContainer {
      padding: 0;
      margin-bottom: 6rem;

      .swiperButtonPrev,
      .swiperButtonNext {
        transition: 200ms;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
          color: $text-primary;
        }
      }

      .swiperButtonPrev {
        left: 1rem;
      }
      .swiperButtonNext {
        right: 1rem;
      }
    }
  }
}
