@import '/styles/variables';
.Button {
	padding: 0.75rem 1.5rem;
	background-color: $button-background;
	border: 1px solid $purple-secondary;
	box-shadow: 4px 4px 24px #653e99af;

	color: $text-primary;
	font-family: 'agaramond';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.1em;

	position: relative;
	transition: 150ms;
	cursor: pointer;

	&:active {
		box-shadow: 4px 4px 24px #653e99fb;
	}

	&::before {
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		border: 2px solid $purple-primary;
	}
}

@media (min-width: 1024px) {
	.Button:hover {
		box-shadow: 4px 4px 24px #653e99fb;
	}
}
