@import "/styles/variables";
@import "/styles/mixins";

.Story {
	// min-height: 100vh;
	padding: 5rem 1rem;

	h2 {
		text-align: center;
		max-width: 28ch;
		margin: 5rem auto;
	}

	.outerContainer {
		@include flexCenter(column);
	}

	.innerContainer {
		@include flexCenter(column-reverse);
		gap: 3rem;
		h4 {
			font-size: 4rem;
			position: relative;
			top: 8rem;
			left: -4rem;
			-webkit-text-stroke: 1px $text-primary;
			color: $background-primary;
		}
	}
	.instructions {
		font-size: 1.75rem;
		transform: translate(2.5rem, 4rem);

		h5 {
			margin: 0.25rem 0;
			font-weight: lighter;

			strong {
				font-weight: bold;
				-webkit-text-stroke: 0px #fff;
				text-shadow: 0 0 2px #fff;
			}
		}
	}
}

@media (min-width: 500px) {
	.Story {
		.innerContainer {
			h4 {
				font-size: 6rem;
			}
		}
	}
}

@media (min-width: 1024px) {
	.Story {
		padding-top: 10rem;

		.outerContainer {
			@include flexCenter(row);
			gap: 4rem;

			.instructions {
				align-self: flex-end;
				transform: translateY(-10rem);

				h5 {
					margin: 0.25rem 0;
				}
			}
		}
		.innerContainer {
			@include flexCenter(row);
			gap: 2rem;

			h4 {
				align-self: flex-start;
				font-size: 5rem;
				left: 0;
				width: 160px;
			}
		}
	}
}

@media (min-width: 1280px) {
	.Story {
		h2 {
			transform: translateY(-9rem);
		}
		.outerContainer {
			max-height: 400px;

			.instructions {
				transform: translateY(-14rem);
			}
		}
		.innerContainer {
			h4 {
				width: 150px;
				font-size: 7rem;
				left: -15%;
				transform: translateY(-7rem);
			}
		}
	}
}

@media (min-width: 1500px) {
	.Story {
		padding-top: 25rem;

		h2 {
			transform: translateY(-17rem);
		}

		.outerContainer {
			max-height: 500px;
			.instructions {
				font-size: 2.25rem;
			}
		}
		.innerContainer {
			h4 {
				width: 150px;
				font-size: 9rem;
				left: -17%;
				transform: translateY(-5rem);
			}
		}
	}
}

@media (min-width: 2300px) {
	.Story {
		h2 {
			transform: translateY(-20rem);
		}

		.outerContainer {
			max-height: 500px;
			transform: translateX(85px);

			.instructions {
				h5 {
					font-size: 3rem;
				}
			}
		}
		.innerContainer {
			h4 {
				width: 150px;
				font-size: 11rem;
				left: -300px;
				transform: translateY(0);
			}
		}
	}
}
