@import '/styles/mixins';
@import '/styles/variables';

.Footer {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
  border-top: 1px solid $purple-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    font-size: 0.8rem;
    color: $text-secondary;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
    }

    .separatorDot {
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: $purple-primary;
      display: none;
    }
  }
  .logo {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .mobileSocials {
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid $purple-primary;
    border-bottom: 1px solid $purple-primary;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Footer {
    flex-direction: row;
    gap: 0;
    nav {
      align-items: center;
      gap: 1rem;
      div {
        flex-direction: row;
        align-items: center;
      }
      .separatorDot {
        display: block;
      }
    }
  }
  .mobileSocials {
    display: none;
  }
}
