.DiagramInfoMobile {
  padding: 1rem 1.5rem 1rem 2.5rem;
  margin: 1.5rem 0.75rem;
  background-color: #140d19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  position: relative;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .DiagramInfoMobile {
    display: none;
  }
}

.infoIndigo::before {
  background-color: #6a00f4;
}
.infoAqua::before {
  background-color: #007afd;
}
.infoTurquoise::before {
  background-color: #6ee3c0;
}
.infoPurple::before {
  background-color: #df1dff;
}
.infoRose::before {
  background-color: #ee4492;
}
.infoTeal::before {
  background-color: #6998ff;
}
.infoEggplant::before {
  background-color: #a967ff;
}
