@import '/styles/mixins';
@import '/styles/variables';

.Tokenomics {
  padding: 2rem 0 5rem;
  background: linear-gradient(to bottom, transparent, #1e1625);

  .title,
  .sectionInfo {
    position: relative;
    transition: $text-transition;
  }

  .sectionInfo {
    transition-delay: $text-transition-delay;
  }

  h2 {
    text-align: center;
  }

  & > p {
    max-width: 70ch;
    text-align: center;
    margin: 2rem auto 5rem;
  }
}

/*
DIAGRAM COLORS
--------------
teal - #6998ff
eggplant - #a967ff
indigo - #6a00f4
aqua - #148eff
turquise - #6ee388
purple - #df1dff
rose - #ff6484
king blue - #2323ff
ice blue - #aee9ff

*/

.Diagram {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid transparent;
  position: relative;
  @include flexCenter(row);

  .diagramImage {
    transform-origin: center;
    transform: scale(1.4);
  }

  .coloredBorderBox {
    width: 75px;
    height: 75px;
    position: absolute;
    box-shadow: 0 0 0 0 transparent;
  }

  .coloredBorderBoxTeal {
    top: 29%;
    left: 4%;
  }

  .coloredBorderBoxEggplant {
    top: 15%;
    left: 15%;
  }

  .coloredBorderBoxIndigo {
    top: 4%;
    left: 30%;
  }

  .coloredBorderBoxAqua {
    top: 35%;
    right: 5%;
  }

  .coloredBorderBoxTurquoise {
    top: 40%;
    right: 51%;
  }

  .coloredBorderBoxPurple {
    top: 5%;
    left: 48%;
  }

  .coloredBorderBoxRose {
    top: 27%;
    left: 75%;
  }

  .coloredBorderBoxKingBlue {
    top: 5%;
    left: 55%;
  }

  .coloredBorderBoxIceBlue {
    top: 17%;
    left: 62%;
  }

  .dashedCircle {
    width: 65%;
    height: 65%;
    border: 3px dashed $purple-primary;
    border-radius: 50%;
    position: relative;
    animation: rotateToLeft 60s linear infinite;
    @include flexCenter(row);

    .content {
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #332441;
      animation: rotateToRight 60s linear infinite;
      @include flexCenter(column);
      transition: 500ms;
      box-shadow: 0 0 0 #a967ffaa;

      h6,
      p {
        align-items: center;
        margin: 0 auto;
        font-weight: 300;
      }

      h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        transition: 400ms;
      }

      p {
        color: $text-secondary;
        transition: 600ms;
      }
    }
  }

  .mobilePercentages {
    color: #fff;
    p {
      position: absolute;
      font-size: 1.1rem;
    }
    .percentageIndigo {
      top: 7%;
      left: 38%;
    }
    .percentageAqua {
      top: 42%;
      right: 5%;
    }
    .percentageTurquoise {
      top: 88%;
      right: 45%;
    }
    .percentagePurple {
      top: 6%;
      left: 52%;
    }
    .percentageRose {
      top: 30%;
      left: 85%;
    }
    .percentageTeal {
      top: 32%;
      left: 8%;
    }
    .percentageEggplant {
      top: 14%;
      left: 21%;
    }
    .percentageKingBlue {
      top: 8%;
      left: 62%;
    }
    .percentageIceBlue {
      top: 16%;
      left: 73%;
    }
  }
}

@media (min-width: 768px) {
  .Diagram {
    width: 425px;
    height: 425px;
  }
}
@media (min-width: 1024px) {
  .Tokenomics > p {
    margin-bottom: 10rem;
  }
  .Diagram {
    width: 450px;
    height: 450px;
    transform-origin: center;
    transform: scale(0.85);

    .content {
      transition: 400ms;
      &:hover {
        box-shadow: 0 0 20px #a967ffaa;

        h6,
        p {
          transform-origin: center;
          transform: scale(1.2);
          letter-spacing: 1px;
        }

        p {
          transform: scale(1.2) translateY(0.25rem);
        }
      }
    }

    .mobilePercentages {
      display: none;
    }
  }
}

@media (min-width: 1130px) {
  .Diagram {
    transform: scale(0.9);
  }
}

@media (min-width: 1440px) {
  .Diagram {
    width: 650px;
    height: 650px;

    .infoIndigo {
      p {
      }
    }
  }
}

@keyframes rotateToRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateToLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
