@import '/styles/mixins';
@import '/styles/variables';

.Roadmap {
  margin-bottom: 5rem;

  .title,
  .sectionInfo {
    position: relative;
    transition: $text-transition;
  }

  .sectionInfo {
    transition-delay: $text-transition-delay;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin: 2rem auto 4rem;
    color: $text-secondary;
    max-width: 70ch;
  }

  .buttonGroup {
    position: absolute;
    right: 8rem;
    top: 50%;
    button {
      margin: 0 0.5rem;
      padding: 0.5rem;
      color: $text-primary;
      background-color: transparent;
      border: 1px solid $purple-primary;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        position: absolute;
        top: -4px;
        left: -4px;
        border: 1px solid $purple-primary;
      }
    }
  }
  .sliderContainer {
    margin: 8rem 0 2rem;
    padding: 0 2rem;

    .decorLine {
      height: 2px;
      background-color: $purple-secondary;
      margin-bottom: 1.5rem;
      position: relative;
      // display: flex;
      // align-items: center;

      .decorLineDot {
        width: 5px;
        height: 5px;
        background-color: $purple-secondary;
        border-radius: 50%;
        position: absolute;
        top: -2px;
        box-shadow: 0 0 16px 3px $purple-secondary;
        // transform: translateX(-10vw);

        &:nth-of-type(1) {
          left: 1rem;
        }
        &:nth-of-type(2) {
          left: calc(1rem + 25%);
        }
        &:nth-of-type(3) {
          left: calc(2rem + 50%);
        }
        &:nth-of-type(4) {
          left: calc(3rem + 75%);
        }

        &::before {
          content: '';
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          position: absolute;
          top: -3px;
          left: -3px;
          border: 1px solid $purple-secondary;
          border-radius: 50%;
        }
      }
    }

    article {
      h4 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      ul {
        padding-left: 1.5rem;
        list-style: disc;
        list-style-position: outside;

        li {
          margin: 0.25rem 0;
          color: $text-secondary;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .Roadmap {
    margin-bottom: 10rem;
  }
}
