@import '/styles/mixins';
@import '/styles/variables';

.Characters {
  @include flexCenter(column);
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -40%;
    width: 2px;
    height: 145%;
    background: linear-gradient(to bottom, #a967ff18, #a967ff98, #a967ff18);
    border-radius: 5px;
    z-index: 100;
  }
  &::before {
    left: -0.5rem;
  }
  &::after {
    right: -0.5rem;
  }

  h6 {
    font-size: 1rem;
    letter-spacing: 0.15em;
  }

  .arrow {
    position: absolute;
    top: 40%;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    color: $text-primary;
    border: none;
  }

  .arrowLeft {
    left: 1rem;
  }

  .arrowRight {
    right: 1rem;
  }
  .characterContainer {
    position: relative;
    max-width: 300px;
  }

  .Character {
    text-align: center;
    padding: 0.5rem;
    .imageContainer {
      position: relative;
      min-width: 300px;
      min-height: 300px;
    }

    .characterImage {
      width: 350px;
      position: absolute;
      top: -20px;
      left: -25px;
    }

    h5 {
      margin: 10px 0 8px;
      font-size: 2rem;
      position: relative;
      z-index: 10;
    }

    p {
      color: $text-secondary;
      max-width: 50ch;
      margin: 0 auto;
    }
  }
}

@media (min-width: 767px) {
  .Characters {
    .characterContainer {
      max-width: 500px;
    }

    .Character {
      .characterImage {
        width: 600px;
        position: absolute;
        top: -50px;
        left: -50px;
      }

      h5 {
        margin-top: 210px;
        position: relative;
        z-index: 10;
      }
    }
  }
}

@media (min-width: 1024px) {
  .Characters {
    max-width: 500px;
    margin: auto;
    transform: translateX(20px);

    .characterContainer {
      max-width: 700px;
    }

    .Character {
      .characterImage {
        width: 500px;
        position: absolute;
        top: -50px;
        left: 80px;
      }

      h5 {
        margin-top: 120px;
      }
    }
  }
}
