@import '/styles/mixins';
@import '/styles/variables';

.Characters {
  @include flexCenter(column);
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -40%;
    width: 2px;
    height: 145%;
    background: linear-gradient(to bottom, #a967ff18, #a967ff98, #a967ff18);
    border-radius: 5px;
    z-index: 100;
  }
  &::before {
    left: -0.5rem;
  }
  &::after {
    right: -0.5rem;
  }

  .decorContainer {
    @include flexCenter(column);
    transform: translateY(-2rem);
  }

  h6 {
    font-size: 1rem;
    letter-spacing: 0.15em;
  }

  .arrow {
    position: absolute;
    top: 45%;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    color: $text-primary;
    border: none;
  }

  .arrowLeft {
    left: 1rem;
  }

  .arrowRight {
    right: 1rem;
  }
  .characterContainer {
    position: relative;
    width: 100%;

    //.swiper
    & > div:first-of-type {
      max-width: 300px;
    }
  }

  .Character {
    text-align: center;
    padding: 0.5rem;
    position: relative;

    .imageContainer {
      position: relative;
      min-width: 300px;
      min-height: 300px;
    }

    .characterImage {
      width: 350px;
      position: absolute;
      top: -20px;
      left: -25px;
    }

    h5 {
      margin: 10px 0 8px;
      font-size: 2rem;
      position: relative;
      z-index: 10;
    }

    p {
      color: $text-secondary;
      max-width: 50ch;
      margin: 0 auto;
    }
  }
}

@media (min-width: 767px) {
  .Characters {
    .characterContainer {
      max-width: 500px;
      //.swiper
      & > div:first-of-type {
        max-width: 500px;
      }
    }

    .Character {
      .characterImage {
        width: 600px;
        position: absolute;
        top: -50px;
        left: -50px;
      }

      h5 {
        margin-top: 210px;
        position: relative;
        z-index: 10;
      }
    }
  }
}

@media (min-width: 1024px) {
  .Characters {
    max-width: 500px;
    margin: auto;
    transform: translateX(20px);

    .decorContainer {
      transform: translateY(-3rem);
      h6 {
        transform: translateY(-1rem);
      }
    }

    .characterContainer {
      max-width: 500px;
    }

    .Character {
      .characterImage {
        width: 420px;
        position: absolute;
        top: -50px;
        left: 40px;
      }

      h5 {
        margin-top: 20px;
      }
      h5,
      p {
        position: relative;
        z-index: 100;
      }
    }
  }
}

@media (min-width: 1280px) {
  .Characters {
    max-width: 600px;

    .arrowLeft {
      font-size: 3rem;
    }

    .arrowRight {
      font-size: 3rem;
    }

    .characterContainer {
      width: 100%;

      .Character {
        height: 550px;
        h5,
        p {
          transform: translateY(5rem);
        }
      }

      .characterImage {
        width: 520px;
        left: -10px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .Characters {
    min-width: 700px;
    padding: 5rem 0;
    position: relative;

    .decorContainer {
      transform: translateY(-8rem);
    }
    .arrow {
      font-size: 5rem;
      top: 30%;
    }

    .characterContainer {
      .Character {
        width: 100%;

        h5,
        p {
          transform: translateY(16rem);
        }
      }
    }

    .characterContainer {
      min-height: 400px;
      min-width: 900px;
      width: 900px;

      & > div {
        overflow-y: visible !important;
        height: 750px;
        transform: translateY(-8rem);
      }

      .characterImage {
        width: 750px;
        top: -4rem;
        left: -125px;
      }
    }
  }
}
