@import '/styles/mixins';
@import '/styles/variables';

.InfoCards {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
  position: relative;
  z-index: 10;
}

.InfoCard {
  max-width: 320px;
  background-color: #26222a;
  position: relative;
  left: 1rem;

  &:first-of-type {
    transform: translate(-10%, -10%);
  }
  &:last-of-type {
    transform: translate(-10%, 10%);
  }

  /*&::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid $purple-primary-faded;
    position: absolute;
    top: 1.25%;
    left: 1.25%;
  }*/
  .contentContainer {
    transform: translate(10%, 25%);
    h3 {
      padding-top: 5rem;
      margin-bottom: 2rem;
      color: $text-primary;
      font-size: 1.75rem;
    }
    p {
      color: $text-secondary;
      margin: 1.5rem 0;
      font-size: 0.9rem;
    }
  }

  .decorBorder {
    transition: $decor-border-transition;
    position: absolute;
    background-color: $purple-primary-faded;
  }

  .decorBorderTop {
    width: 100%;
    height: 1px;
    top: 7px;
    left: 8px;
  }

  .decorBorderRight {
    width: 1px;
    height: calc(100% + 2px);
    bottom: -8px;
    right: -9px;
  }

  .decorBorderBottom {
    width: 100%;
    height: 1px;
    bottom: -9px;
    right: -7px;
  }

  .decorBorderLeft {
    width: 1px;
    height: calc(100% + 2px);
    top: 7px;
    left: 7px;
  }
}

@media (min-width: 1024px) {
  .InfoCards {
    flex-direction: row;
    gap: 0;
  }

  .InfoCard {
    max-width: 380px;
    left: 0;

    &:first-of-type {
      transform: translate(-10%, -10%);
    }
    &:last-of-type {
      transform: translate(-10%, 10%);
    }

    .contentContainer {
      transform: translate(15%, 25%);
    }
  }
}
