$background-primary: #130f17;
$background-primary-faded: #130f1755;
$button-background: #201d24;
$purple-primary: #a967ff;
$purple-primary-faded: #a967ffaa;
$purple-primary-fadedXl: #a967ff33;
$purple-secondary: #653e99;
$purple-secondary-faded: #653e9955;
$purple-secondary-hovered: #3b1c63;
$text-primary: #d0c5ac;
$text-secondary: #beb294aa;
$decor-border-transition: 2500ms;
$text-transition: 2000ms;
$text-transition-delay: 200ms;
