$background-primary: #130f17;
$button-background: #201d24;
$purple-primary: #a967ff;
$purple-primary-faded: #a967ffaa;
$purple-secondary: #653e99;
$text-primary: #ffffff;
$text-secondary: #8c8a8e;
$decor-border-transition: 2500ms;
$text-transition: 2000ms;
$text-transition-delay: 200ms;
