@import "/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: gambetta;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $background-primary;
  color: $text-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
}

section {
  position: relative;
}

h2 {
  font-size: 2rem;
}

@font-face {
  font-family: gambetta;
  src: url("./gambetta-font/gambetta-light.otf") format("opentype");
}
